<nz-list
  [nzDataSource]="reviews"
  [nzRenderItem]="item"
  [nzItemLayout]="'horizontal'"
  class="commentary-list"
>
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="author" [nzDatetime]="datetime">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        [nzSrc]="item.user.avatar"
      ></nz-avatar>
      <nz-comment-content>
        <p class="user__comment">{{ item.text }}</p>
        <nz-divider></nz-divider>
      </nz-comment-content>
    </nz-comment>
    <ng-template #author>
      <div class="user">
        <span class="user__name">{{ item.user.fullname }}</span>
        <div class="user__mark">
          <img src="./assets/images/comment-rait.svg" alt="icon" />
          <span>{{ item.rating }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template #datetime>
      <div class="user__datetime">
        {{ item.created_at | date }}
      </div>
    </ng-template>
  </ng-template>
</nz-list>
