<div class="wrapper">
  <swiper
    [slidesPerView]="1"
    [effect]="'fade'"
    [pagination]="{
      clickable: true
    }"
    [autoplay]="{
      delay: 5000,
      disableOnInteraction: false,
      pauseOnMouseEnter: true
    }"
    [loop]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let slider of carouselImages">
      <az-slider
        [circleImg]="slider.circleImg"
        [bannerImg]="slider.bannerImg"
        [isClass]="slider.isClass"
        [(isVisible)]="isVisible"
        [statisticCount]="statisticCount"
        (guideVisible)="handlerGuideVisible($event)"
      ></az-slider>
    </ng-template>
  </swiper>
</div>

<az-application-type-modal
  [(isVisible)]="isVisible"
></az-application-type-modal>
