<div class="type">
  <div class="type__card">
    <input
      type="radio"
      id="client"
      name="type"
      value="user"
      [ngModel]="type"
      (ngModelChange)="chooseGuideType($event)"
    />
    <label for="client" [routerLink]="['../user']">
      <div class="check-marker">
        <span><i nz-icon nzType="check" nzTheme="outline"></i></span>
        <h5>{{ "customer" | translate }}</h5>
      </div>
    </label>
  </div>
  <div class="type__card">
    <input
      type="radio"
      id="сonsultant"
      name="type"
      value="consultant"
      [ngModel]="type"
      (ngModelChange)="chooseGuideType($event)"
    />
    <label for="сonsultant" [routerLink]="['../consultant']">
      <div class="check-marker">
        <span><i nz-icon nzType="check" nzTheme="outline"></i></span>
        <h5>{{ "Iconsultant" | translate }}</h5>
      </div>
    </label>
  </div>
</div>
