<div class="top-consultant">
  <div>
    <h4 class="title">{{ "topConsultants" | translate }}</h4>
    <!-- <a>Посмотреть всех</a> -->
  </div>
  <div class="top-consultant__content">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="10"
      [breakpoints]="{
        '365': {
          slidesPerView: 1.3,
          spaceBetween: 10
        },
        '440': {
          slidesPerView: 1.5,
          spaceBetween: 10
        },
        '500': {
          slidesPerView: 1.7,
          spaceBetween: 10
        },
        '576': {
          slidesPerView: 2,
          spaceBetween: 15
        },
        '650': {
          slidesPerView: 2.2,
          spaceBetween: 15
        },
        '768': {
          slidesPerView: 2.5,
          spaceBetween: 20
        },
        '868': {
          slidesPerView: 3,
          spaceBetween: 20
        },
        '992': {
          slidesPerView: 3.5,
          spaceBetween: 25
        },
        '1200': {
          slidesPerView: 4,
          spaceBetween: 30
        }
      }"
      class="top-consultant__content__swiper"
    >
      <ng-template swiperSlide *ngFor="let category of categoryList">
        <az-consultant-card></az-consultant-card>
      </ng-template>
    </swiper>
  </div>
</div>
