<div class="container">
  <div class="create-application">
    <!-- STEP 1 -->
    <div class="create-application__content" *ngIf="index == 1">
      <az-step-first
        [form]="form"
        [step]="index"
        [(validation)]="validation"
        (nextStepAction)="next()"
      ></az-step-first>
    </div>

    <!-- STEP 2 -->
    <div class="create-application__content" *ngIf="index == 2">
      <az-step-second
        [form]="form"
        [step]="index"
        (categoryId)="setCategory($event)"
        [(validation)]="validation"
        [consultantResume]="consultantResume"
      ></az-step-second>
    </div>

    <!-- STEP 3 -->
    <div class="create-application__content" *ngIf="index == 3">
      <az-step-third
        [form]="form"
        [step]="index"
        [imageSrc]="imageSrc"
        [(validation)]="validation"
        (disableNextBtn)="disableNextBtn($event)"
      ></az-step-third>
    </div>

    <!-- STEP 4 -->
    <div class="create-application__content" *ngIf="index == 4">
      <az-step-fourth
        [form]="form"
        (disableNextBtn)="disableNextBtn($event)"
        [step]="index"
      ></az-step-fourth>
    </div>

    <!-- STEP 5 -->
    <div class="create-application__content" *ngIf="index == 5">
      <az-step-fifth
        [form]="form"
        [step]="index"
        [(validation)]="validation"
        (disableNextBtn)="disableNextBtn($event)"
        [id]="id"
      ></az-step-fifth>
    </div>

    <!-- STEP 6 -->
    <div class="create-application__content" *ngIf="index == 6">
      <h3 class="create-application__content__title">
        {{ "isItRight" | translate }}
      </h3>
      <div class="create-application__content__application">
        <az-application-card
          [form]="form"
          [imageSrc]="imageSrc"
        ></az-application-card>
      </div>
    </div>

    <!-- ACTIONS -->
    <az-step-actions
      [currentStep]="current"
      (nextStep)="next()"
      (previous)="pre()"
      (submitForm)="submit()"
      [disableBtn]="disableBtn"
      [form]="form"
      [isLoading]="isLoadingBtn"
      [(validation)]="validation"
    ></az-step-actions>
  </div>
</div>

<nz-modal
  [nzClosable]="false"
  [(nzVisible)]="successModal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
  [nzWidth]="'600px'"
>
  <ng-container *nzModalContent>
    <nz-result nzStatus="success" [nzTitle]="'applicationCreated' | translate">
    </nz-result>
    <button (click)="navigateToMyApplications()" class="modal-success">
      {{ "navigateToApplication" | translate }}
    </button>
  </ng-container>
</nz-modal>
