<div
  class="notification-wrapper"
  [ngClass]="{ border: !isLast }"
  (click)="
  handleNavigateToChat({
      is_consultant: false,
      link: notification.link,
      id: notification.id
    })
  "
>
  <div class="notification-wrapper__left">
    <span class="notification-wrapper__left__time">{{
      notification.created_at | formatDateFns | async
    }}</span>
    <span
      class="notification-wrapper__left__unread"
      *ngIf="!notification.showed"
      ><span class="notification-wrapper__left__unread__badge"></span>
      {{ "unreaded" | translate }}</span
    >
    <div class="notification-wrapper__left__title">
      {{ "readyToConsult" | translate }}
    </div>
    <p
      class="notification-wrapper__left__text"
      [innerHTML]="
        'notification.text'
          | translate
            : {
                application: '<strong>' + notification.text + '</strong>'
              }
      "
    ></p>
  </div>
  <div class="notification-wrapper__right">
    <span nz-icon>
      <img src="./assets/images/icons/Time_duotone_line.svg" alt="icon" />
    </span>
  </div>
</div>
