<div
  class="notification-wrapper"
  [ngClass]="{ border: !isLast }"
  (click)="
    handleNavigateToChat({
      is_consultant: !notification.is_consultant,
      link: notification.link,
      id: notification.id
    })
  "
>
  <div class="notification-wrapper__left">
    <span class="notification-wrapper__left__time">{{
      notification.created_at | formatDateFns | async
    }}</span>
    <span
      class="notification-wrapper__left__unread"
      *ngIf="!notification.showed"
      ><span class="notification-wrapper__left__unread__badge"></span>
      {{ "unreaded" | translate }}</span
    >
    <div class="notification-wrapper__left__message">
      <span>{{ notification.count }}</span>
      {{
        notification.count > 1
          ? ("newMessages" | translate)
          : ("newMessageSingle" | translate)
      }}
    </div>
    <p
      class="notification-wrapper__left__text"
      [innerHTML]="
        'byApplicationName'
          | translate : { value: '<strong>' + notification.text + '</strong>' }
      "
    ></p>
  </div>
  <div class="notification-wrapper__right">
    <span nz-icon nzType="right" nzTheme="outline"></span>
  </div>
</div>
