<div class="banner">
  <div class="banner__bg"></div>
  <div class="banner__info">
    <div class="banner__info__img">
      <img src="./assets/images/mobile.png" alt="image" />
    </div>
    <div class="banner__info__text">
      <h5 class="banner__info__title">
        {{ title | translate }}
      </h5>
      <p class="banner__info__description">
        {{ description | translate }}
      </p>
      <div class="banner__info__links">
        <div class="banner__info__links__app mobile-app">
          <a>
            <img src="./assets/images/app-store.png" alt="mobile app logo" />
          </a>
        </div>
        <div class="banner__info__links__play mobile-app">
          <a>
            <img src="./assets/images/google-play.png" alt="mobile app logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
