<div class="container" *ngIf="faqsData">
  <div class="help">
    <h1 class="help__title">{{ "faqShort" | translate }}</h1>
    <div class="help__collapse">
      <nz-collapse nzAccordion nzGhost>
        <nz-collapse-panel
          #collapse
          *ngFor="let faq of faqsData"
          [nzHeader]="header"
          [nzExtra]="extraTpl"
          [nzShowArrow]="false"
          class="pannel"
        >
          <p style="margin: 0" class="help__collapse__text">
            {{ faq.content }}
          </p>

          <ng-template #header>
            <h3 class="help__collapse__title">{{ faq.name }}</h3>
          </ng-template>
          <ng-template #extraTpl let-active>
            {{ active }}
            <span
              class="icon"
              nz-icon
              [nzType]="collapse.nzActive ? 'minus-circle' : 'plus-circle'"
              nzTheme="outline"
            ></span>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</div>
